    <%= render partial: "header" %>
    <div class="middle-content">
      <%= render partial: "sidebar" %>
      <div class="main">
        <h1>主体的な学びに繋げるための方法</h1>
        <h2>コーチとしてのルール</h2>
          <ul　class="mental">
            <li class="mental_li">承認をしよう</li>
            <li class="mental_li">否定はしない</li>
            <li class="mental_li">何故？を深める</li>
          </ul>
        <h2>まずやること</h2>
        <h3>①自分のことを呟こう</h3>
        <p>生徒が、担当のコーチとして指名する前に、必ずみなさんの呟きを見ます。どんなことを学んでいるのか？何に詳しいのか？そんな情報があると、指名されやすいでしょう！</p>
        <h3>②生徒の呟きにコメントをしよう</h3>
        <p>沢山承認のコメントをしよう！生徒は、講師からの承認のコメントがあればあるほどモチベーションが高まります！そして、コメントしてくれた講師の中から担当のコーチを選びます。</p>
        <p>ぜひ、沢山の生徒の呟きにコメントしていきましょう！</p>
        <h2>生徒から担当のコーチに選ばれたらすること</h2>
        <h3>①チャットで挨拶をしよう</h3>
        <p>担当コーチに選ばれたら、生徒からチャットが届きます。そのチャットに、挨拶をしましょう。生徒は、どんなコーチか不安な気持ちのはずです。安心してくれるよう、自分のニックネーム、どんなことが得意なのかといった自分の情報はもちろんのこと、研究への動機付け、沢山承認できる部分を見つけて、伝えましょう。</p>
        <h3>②生徒の興味について質問しよう</h3>
        <ul class="mental">
          <li class="mental_li">今回興味を持ったことについて改めて、質問</li>
          <li class="mental_li">興味を持ったきっかけについて質問</li>
          <li class="mental_li">今回疑問に思っていることや、調べたいことについて質問</li>
        </ul>
        <h2>面談のAPを取ろう</h2>
        <h3>面談の目的:生徒が何を今後やれば良いかのアドバイス</h3>
        <p>Goal設定・仮説立て・検証方法の確認・次回の面談日設定(進捗確認と、承認による動機付け)</p>
      </div>
      
    </div>
    <%= render partial: "footer" %>