.content-area{
  width: 80vw;
  height: 60vh;
  overflow: scroll;
}

.post-form{
  width: 80vw;
  height: 13vh;
  background-color: papayawhip;
}

.index_room_name{
  display: flex;
  align-items: center;
}

.researcher_name{
  margin-left: 10px;
  color: #fad9e9;
}